{% extends 'template_home.html' %}

{% block extra_scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'main/js/scripts.js' %}"></script>
{% endblock %}

{% block contenido %}
    <main>
        <div class="container">
            <input id="fnum" type="number" name="mov" min="2" placeholder="Dijite el numero de cuentas a usar" value="1" aria-valuemin="2" required>
            {% csrf_token %}
            <button class="save btn btn-default" onclick="updateViewLibroDiario()">Agregar Movimientos</button>
            <br>
            <br>
            <br>


            <div id="form-container" class="modal-content"></div>
{#            <div id="modal1" class="modal" height="100">#}
{#            </div>#}

{#            <a class="waves-effect waves-light btn modal-trigger #2e7d32 green " href="#modal1">Agregar Transaccion</a>#}
        </div>
    </main>
{% endblock %}
