{% extends 'template_home.html' %}

{% load staticfiles %}

{% block titulo %}Ordenes{% endblock %}

{% block contenido %}

    <main>
        <div class="container">
            <a class="waves-effect waves-light btn #2e7d32 green darken-3"   href="{% url 'crearOrden' %}"><i class="material-icons right">add_circle</i>Agregar</a>
            <a class="waves-effect waves-light btn #01579b light-blue darken-4"   href="http://127.0.0.1:8000/admin/main/ordendefabricacion/"><i class="material-icons right">cached</i>Administrar Ordenes</a>
            <a class="waves-effect waves-light btn #f57f17 yellow darken-4"   href="{% url 'clientes' %}"><i class="material-icons right">contact_phone</i>Clientes</a>

            <br>
            <br>
            <div class="divider"></div>
            {% if object_list %}
                <table class="striped centered responsive-table">
                    <thead>
                    <tr>
                        <th data-field=" Cliente">Cliente</th>
                        <th data-field=" numero">No orden</th>
                        <th data-field="material">Material</th>
                        <th data-field="canridad">Cantidad</th>
                        <th data-field="costoUnitario">Costo Unitario</th>
                        <th data-field="total">Total</th>
                        <th data-field="empleado">Empleado</th>
                        <th data-field="horas">#Horas</th>
                        <th data-field="costohoras">Costo/hora</th>
                        <th data-field="totalMO">Total MOD</th>
                        <th data-field="CIF">CIF</th>
                        <th data-field="importe">Impoprte CIF</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for orden in object_list%}
                        <tr>
                            <td>{{orden.cliente.nombre}}</td>
                            <td>{{orden.numOrden}}</td>
                            <td>{{orden.materal}}</td>
                            <td>{{orden.catidadMP}}</td>
                            <td>${{orden.costoUnitarioMP}}</td>
                            <td>${{orden.totalMP}}</td>
                            <td>{{orden.obrero.nombres}}</td>
                            <td>{{orden.numHoras}}</td>
                            <td>${{orden.costoHora}}</td>
                            <td>${{orden.totalMOD}}</td>
                            <td>{{orden.tasaCIF}}</td>
                            <td>${{orden.importe}}</td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
            {% else %}
                <h6>No hay Ordenes</h6>
            {% endif %}

            <div class="">
                <br>
                <br>
                <h5> Costos vrs.  Ordenes de Fabricación </h5>
                <div class="divider"></div>
                <div class="center-align">
                <img  width="300" src="{% static 'main/images/leyenda.png' %}" class="responsive-img">
                </div>
                <br>
                <div id="canvas-holder">
                    <canvas id="chart-area4" width="600" height="200"></canvas>
                </div>


            </div>

        </div>




    </main>
    <script>
        var barChartData2 = {
            labels : [
                {% for orden in object_list %}
                    "{{orden.numOrden}}",
                {% endfor %}
            ],
            datasets : [
                {
                    label: "My First dataset",
                    fillColor : "rgba(6, 61, 183,0.4)",
                    strokeColor : "rgb(6, 61, 183)",
                    highlightFill: "rgb(6, 61, 183)",
                    highlightStroke: "rgb(6, 61, 183)",
                    data : [
                        {% for orden in object_list %}
                            {{ orden.totalMP|floatformat:"2" }},
                        {% endfor %}],

                },

                {
                    label: "Mano de obra directa",
                    fillColor : "rgba(237, 17, 17,0.4)",
                    strokeColor : "rgb(237, 17, 17)",
                    highlightFill: "rgb(237, 17, 17)",
                    highlightStroke: "rgb(237, 17, 17)",
                    data : [
                        {% for orden in object_list %}
                            {{ orden.totalMOD|floatformat:"2" }},
                        {% endfor %}]
                },
                {
                    label: "My First dataset",
                    fillColor : "rgba(25, 129, 6,0.4)",
                    strokeColor : "rgb(25, 129, 6)",
                    highlightFill: "rgb(25, 129, 6)",
                    highlightStroke: "rgb(25, 129, 6)",
                    data : [
                        {% for orden in object_list %}
                            {{ orden.importe|floatformat:"2" }},
                        {% endfor %}]
                },]


        }


        var ctx4 = document.getElementById("chart-area4").getContext("2d");
        window.myPie = new Chart(ctx4).Bar(barChartData2, {responsive:true});



    </script>


{% endblock %}