{% extends 'template_home.html' %}

{% load staticfiles %}

{% block titulo %}Producción{% endblock %}

{% block contenido %}

    <main>
        <div class="container">
            <a class="waves-effect waves-light btn #2e7d32 green darken-3"   href="{% url 'add_producto' %}"><i class="material-icons right">add_circle</i>Agregar</a>
            <a class="waves-effect waves-light btn #01579b light-blue darken-4"   href="http://127.0.0.1:8000/admin/main/producto/"><i class="material-icons right">cached</i>Administrar Productos</a>
            <br>
            <br>
            <h3>Caja de costos</h3>
            <div class="divider"></div>
            {% if object_list %}
                <table class="striped centered responsive-table">
                    <thead>
                    <tr>
                        <th data-field="numero">No orden</th>
                        <th data-field="MPUsada">MP utilizada</th>
                        <th data-field="mod">Mano de obra D.</th>
                        <th data-field="CIF">Costos indirectos F.</th>
                        <th data-field="CAT">Costo Art. terminado</th>
                        <th data-field="CAT">Art. terminados Disp.</th>
                        <th data-field="CAT">Costo de lo vendido</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for producto in object_list%}
                        <tr>
                            <td>{{producto.ordenDeFabricacion.numOrden}}</td>
                            <td>${{producto.ordenDeFabricacion.totalMP|floatformat:"2"}}</td>
                            <td>${{producto.ordenDeFabricacion.totalMOD|floatformat:"2"}}</td>
                            <td>${{producto.ordenDeFabricacion.importe|floatformat:"2"}}</td>
                            <td>${{producto.costoArtTerminado|floatformat:"2"}}</td>
                            <td>${{producto.artTerDisp|floatformat:"2"}}</td>
                            <td>${{producto.costoVendido|floatformat:"2"}}</td>
                        </tr>
                    {%endfor%}

                        <tr style="color: #ff5018;font-weight: 800;">
                            <td>Total</td>
                            <td id="cdc_total_totalMP">${{ totalMP|floatformat:"2" }}</td>
                            <td id="cdc_total_totalMOD">${{ totalMOD|floatformat:"2" }}</td>
                            <td id="cdc_total_importe">${{ importe|floatformat:"2" }}</td>
                            <td id="cdc_total_costoArtTerminado">${{ costoArtTerminado|floatformat:"2" }}</td>
                            <td id="cdc_total_artTerDisp">${{ artTermDisp|floatformat:"2" }}</td>
                            <td id="cdc_total_costoVendido">${{ costoVendido|floatformat:"2" }}</td>
                        </tr>


                    </tbody>
                </table>

                <br>
                <br>
                <div class="">
                <h5 class="bold"> Costo de lo Vendido vrs. Orden de Fabricación </h5>
                <div class="divider"></div>
{#                <div id="Chart1">#}
{#                </div>#}

                    <div id="canvas-holder">
                        <canvas id="chart-area3" width="600" height="200"></canvas>
                    </div>
                </div>


                <h3>Costos Unitarios</h3>
                <div class="divider"></div>
                <table class="striped centered responsive-table">
                    <thead>
                    <tr>
                        <th data-field="numero">No orden</th>
                        <th data-field="nombre">Producto</th>
                        <th data-field="CAT">Costo de lo vendido</th>
                        <th data-field="cantidad">Cantidad de Productos</th>
                        <th data-field="CU">Costo Unitario</th>
                    </tr>
                    </thead>
                    <tbody>


                {%for producto in object_list%}
                    <tr>
                        <td>{{producto.ordenDeFabricacion.numOrden}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>${{producto.costoVendido|floatformat:"2"}}</td>
                        <td>{{producto.nuneroArticulos}}</td>
                        <td>${{producto.costoUnitario|floatformat:"2"}}</td>
                    </tr>
                {%endfor%}
                </tbody>
                </table>

                <br>

                <div class="">

                <h5> Costo Unitario vrs. Producto </h5>
                <div class="divider"></div>
{#                <div id="Chart2">#}
{#                </div>#}
                    <div id="canvas-holder">
                        <canvas id="chart-area4" width="600" height="200"></canvas>
                    </div>


                </div>

            {% else %}
                <h5>No hay producción</h5>
            {% endif %}
        </div>
    </main>

{#    <script type="text/javascript">#}
{##}
{#        // Load the Visualization API and the corechart package.#}
{#        google.charts.load('current', {'packages':['corechart']});#}
{##}
{#        // Set a callback to run when the Google Visualization API is loaded.#}
{#        google.charts.setOnLoadCallback(drawChart);#}
{##}
{#        // Callback that creates and populates a data table,#}
{#        // instantiates the pie chart, passes in the data and#}
{#        // draws it.#}
{#        function drawChart() {#}
{##}
{#            // Create the data table.#}
{#            var data = google.visualization.arrayToDataTable([#}
{#                ['Year', 'Costo Unitario', { role: 'style' } ],#}
{##}
{#                {% for producto in object_list %}#}
{#                    ["{{ producto.nombre}}",{{ producto.costoUnitario }}, 'color: Green'],#}
{#                {% endfor %}#}
{##}
{#            ]);#}
{##}
{#            // Set chart options#}
{#            var options = {#}
{#                width: 800,#}
{#                height: 400,#}
{#                legend: { position: 'top', maxLines: 3 },#}
{#                bar: { groupWidth: '75%' },#}
{#                isStacked: true#}
{#            };#}
{##}
{#            // Instantiate and draw our chart, passing in some options.#}
{#            var chart = new google.visualization.BarChart(document.getElementById('Chart2'));#}
{#            chart.draw(data, options);#}
{#        }#}
{#    </script>#}
{##}
{#    <script type="text/javascript">#}
{##}
{#        // Load the Visualization API and the corechart package.#}
{#        google.charts.load('current', {'packages':['corechart']});#}
{##}
{#        // Set a callback to run when the Google Visualization API is loaded.#}
{#        google.charts.setOnLoadCallback(drawChart);#}
{##}
{#        // Callback that creates and populates a data table,#}
{#        // instantiates the pie chart, passes in the data and#}
{#        // draws it.#}
{#        function drawChart() {#}
{##}
{#            // Create the data table.#}
{#            var data = google.visualization.arrayToDataTable([#}
{#                ['Year', 'Costo de lo vendido', { role: 'style' } ],#}
{##}
{#                {% for producto in object_list %}#}
{#                    ["{{producto.ordenDeFabricacion.numOrden}}",{{ producto.costoVendido }}, 'color: blue'],#}
{#                {% endfor %}#}
{##}
{#            ]);#}
{##}
{#            // Set chart options#}
{#            var options = {#}
{#                width: 800,#}
{#                height: 400,#}
{#                legend: { position: 'top', maxLines: 3 },#}
{#                bar: { groupWidth: '75%' },#}
{#                isStacked: true#}
{#            };#}
{##}
{#            // Instantiate and draw our chart, passing in some options.#}
{#            var chart = new google.visualization.BarChart(document.getElementById('Chart1'));#}
{#            chart.draw(data, options);#}
{#        }#}

 {#      </script>#}


    <script>


    var barChartData = {
        labels : [
            {% for producto in object_list %}
                "{{ producto.ordenDeFabricacion.numOrden}}",
            {% endfor %}


        ],
        datasets : [
            {
                fillColor : "rgba(13, 165, 7,0.4)",
                strokeColor : "rgb(13, 165, 7)",
                highlightFill: "rgb(13, 165, 7)",
                highlightStroke: "rgb(13, 165, 7)",
                data : [
                    {% for producto in object_list %}
                        {{ producto.costoVendido|floatformat:"2" }},
                    {% endfor %}]
            },

        ]

    }


    var ctx3 = document.getElementById("chart-area3").getContext("2d");
    window.myPie = new Chart(ctx3).Bar(barChartData, {responsive:true});

</script>
    <script>


        var barChartData2 = {
            labels : [
                {% for producto in object_list %}
                    "{{ producto.nombre}}",
                {% endfor %}


            ],
            datasets : [
                {
                    fillColor : "rgba(6, 61, 183,0.4)",
                    strokeColor : "rgb(6, 61, 183)",
                    highlightFill: "rgb(6, 61, 183)",
                    highlightStroke: "rgb(6, 61, 183)",
                    data : [
                        {% for producto in object_list %}
                            {{ producto.costoUnitario|floatformat:"2" }},
                        {% endfor %}]
                },

            ]

        }


        var ctx4 = document.getElementById("chart-area4").getContext("2d");
        window.myPie = new Chart(ctx4).Bar(barChartData2, {responsive:true});

    </script>





{% endblock %}